<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/headCustom :: headCustom"></head>
<body>
	<th:block layout:fragment="script"></th:block>
    
    <header> <nav th:replace="fragments/header :: header"> </nav></header>
    
    <aside th:replace="fragments/asideMenu :: asideMenu"></aside>
	 
	 <main id="main" class="main">
	  	<div layout:fragment="content">&nbsp;</div>
	 </main>

    <footer th:replace="fragments/footer :: footer"></footer>
    
</body>
</html>